<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
</head>

<body style="background-color: #eee;">
 <div class="row">
    <div>
        <p>날짜선택</p>
    </div>
    <div class="col-sm-6">
       <div>
        <h4>기분키워드</h4>
        <p>키워드list</p>
       </div>
       <div>
        <h4>영상</h4>
        <p>영상list</p>
       </div>
       <div>
        <h4>음악</h4>
        <p>음악list</p>
       </div>
    </div>
    <div class="col-sm-6">
        <div>
            <h4>기분일기</h4>
            <p>일기list</p>
        </div>
    </div>
 </div>

</body>

</html>